.main-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    min-height: 60svh;
    background: rgba(0, 8, 29, 0.8);
}

.inner-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(120rem, 100%);
    height: 100%;
    padding: 6rem 3rem;
}

[class*="wrapper"] {
    display: block;
    position: relative;
}

[class*="wrapper"]>*:not(label) {
    width: 100%;
    height: 100%;
}

.hero-section {
    height: 90vh;
    height: 90svh;
    padding: 0 5rem;
    padding-top: var(--header-offset);
}

.hero-section .inner-content {
    justify-content: flex-start;
    position: relative;
    z-index: 0;
    width: 100%;
    padding: 0 12rem;
    background: radial-gradient(93.75% 105.88% at 0.39% 99.26%, rgba(150, 1, 7, 0.4) 1.42%, rgba(30, 1, 66, 0.51) 53.8%, rgba(13, 14, 32, 0) 100%),linear-gradient(98.24deg, #1D0005 14.75%, rgba(0, 8, 29, 0.48) 100%), url('../img/bg_hero_section.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3rem;
}

.logo-wrapper {
    width: 16rem;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 7rem;
    padding: 0 5rem;
    background: none;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.navbarOnTop {
    height: 10rem;
    background: rgba(0, 8, 29, 0.8);
}

.main-nav ul {
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
}

.main-nav,
.logo-wrapper {
    pointer-events: auto;
}

.main-nav a {
    display: block;
    position: relative;
    padding: 0 0.5rem 0.5rem 0.5rem;
    color: #c1c1c1;
}

.main-nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.2rem;
    background: #db0c0c;
    transition: all 0.2s ease-in-out;
}

.main-nav a:hover::after {
    width: 100%;
}

.main-nav a:hover {
    color: var(--clr-white);
    transition: all 0.2s ease-in-out;
}

.hero-section .main-text p {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 3rem;
}

.hero-section .main-text {
    width: min(100rem, 100%);
}

.enter-email-container h3 {
    font-size: 2rem;
    font-weight: 400;
}

.enter-email-container label {
    position: absolute;
    left: 0;
}

.enter-email-container {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    width: min(65rem, 100%);
}

.email-inp-wrapper {
    flex: 3;
}

.email-inp-btn-container input {
    padding: 2rem 1.25rem;
    background: #161616a5;
    border: 0.1rem solid #858585;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.email-inp-btn-container label {
    position: absolute;
    top: 50%;
    left: 1.25rem;
    color: #9d9d9d;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.email-inp-btn-container input:focus+label {
    top: 1.2rem;
    font-size: 1.2rem;
}

.hero-section .main-content {
    display: flex;
    flex-flow: column wrap;
    gap: 5rem;
}

.email-inp-btn-container {
    display: flex;
    gap: 1rem;
    width: 90%;
}

.get-started-btn-wrapper {
    flex: 1;
}

.get-started-btn {
    background: #db0c0c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 0.5rem;
}

.get-started-btn:hover {
    background-color: #ab0000;
}

.main-text p {
    margin-top: 2rem;
    font-size: 2.5rem;
}

.main-img-wrapper {
    flex: 1 50%;
    box-shadow: #fff;
    background: radial-gradient(40% 50% at 50% 50%, rgb(161, 29, 82) 0%, rgba(0, 8, 29, 0) 100%);
}

#section-n3 .main-img-wrapper {
    flex: 1 60%;
}

.main-text {
    flex: 1 50%;
}

.img-wrapper {
    /*mudar posicionamento de algumas das imagens pra deixar semelhante ao site principal da netflix*/
    display: flex;
    align-items: center;
}

/* [id^="section-n"] {
    box-shadow: inset 0 -1rem #323232;
} */

[id*="section-n"]:not(#section-n6) .inner-content {
    /*mexer nisso daqui e trocar nomes de variaveis se preciso*/
    gap: 5rem;
}

.download-serie-img-container {
    position: relative;
}

.download-serie-animation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 50%;
    width: 55%;
    height: 10rem;
    padding: 0 2rem;
    transform: translate(-50%, -80%);
    background: black;
    border: 0.2rem solid #323232;
    border-radius: 1rem;
    -webkit-box-shadow: #000000 0px 20px 30px -10px;
    -moz-box-shadow: #000000 0px 20px 30px -10px;
    box-shadow: #000000 0px 20px 30px -10px;
}

.download-serie-text-container {
    display: flex;
    flex-flow: column wrap;
}

.download-serie-text-container span {
    color: rgb(61, 125, 254);
    font-size: 1.4rem;
}

.download-serie-text-container div {
    font-size: 1.6rem;
    font-weight: 500;
}

.stranger-things-text-post-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.stranger-things-poster-wrapper {
    width: 5rem;
}

.download-animation-wrapper {
    max-width: 5rem;
}

#section-n6 .inner-content {
    flex-flow: column nowrap;
    gap: 3rem;
}

.plus-minus-icon {
    position: relative;
    width: 2rem;
    height: 2rem;
}

.plus-minus-bar {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0.2rem;
    background: white;
    transition: transform 0.3s ease-in-out;
}

.plus-minus-bar:nth-child(1) {
    transform: translateY(-50%);
}

.plus-minus-bar:nth-child(2) {
    transform: translateY(-50%) rotate(90deg);
}

.activeQuestion .plus-minus-bar:nth-child(1) {
    transform: translateY(-50%) rotate(180deg);
}

.activeQuestion .plus-minus-bar:nth-child(2) {
    transform: translateY(-50%) rotate(180deg);
}

.faq-accordion {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    font-size: 2.5rem;
}

.question-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.5rem 2rem;
    background: #0f2156;
    cursor: pointer;
    user-select: none;
}

.answer {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    max-height: 0;
    padding: 0 2rem;
    background: #1e3066;
    overflow: hidden;
    box-shadow: inset 0 0.1rem #08194a;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.answer p {
    line-height: initial;
}

.activeQuestion .answer {
    max-height: 30rem;
    padding: 2.5rem 2rem;
}

footer :is(p, a) {
    font-size: 1.6rem;
    color: #ffffffb3;
}

footer a {
    width: fit-content;
    text-decoration: underline;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

footer .inner-content {
    flex-flow: column wrap;
    gap: 5rem;
    padding-bottom: 0;
}

footer .inner-content {
    flex: 1 100%;
}

footer.main-container {
    position: relative;
    min-height: fit-content;
}

footer .inner-content>* {
    width: 100%;
}

.footer-copyright-text {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    box-shadow: inset 0 0.1rem #323232;
}