.main-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: var(--clr-black);
    min-height: 60vh;
    min-height: 60svh;
}

.inner-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(120rem, 100%);
    height: 100%;
    padding: 6rem 3rem;
}

[class*="wrapper"] {
    display: block;
    position: relative;
}

[class*="wrapper"]>*:not(label) {
    width: 100%;
    height: 100%;
}

.hero-section {
    padding-top: var(--header-offset);
    height: 80vh;
    height: 80svh;
    z-index: 1;
    position: relative;
    background-image: url('../img/bg_hero_section.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-section::after {
    z-index: -1;
    content: '';
    background: #000000a8;
    -webkit-box-shadow: inset 0px 10px 52px 41px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: inset 0px 10px 52px 41px rgba(0, 0, 0, 0.85);
    box-shadow: inset 0px 10px 52px 41px rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.logo-wrapper {
    width: 16rem;
    background: #000000b8;
    -webkit-box-shadow: 0px 0px 15px 10px #000000cf;
    -moz-box-shadow: 0px 0px 15px 10px #000000cf;
    box-shadow: 0px 0px 15px 10px #000000cf;
}

.main-header {
    position: fixed;
    z-index: 1;
    padding: 0 8rem;
    height: 7rem;
    top: 0;
    width: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

.navbarOnTop {
    height: 10rem;
    background: #000000a5;
    box-shadow: inset 0 -0.1rem 0 #323232;
}

.main-nav ul {
    display: flex;
    gap: 4rem;
    flex-flow: row wrap;
}

.main-nav a {
    display: block;
    position: relative;
    color: #c1c1c1;
    padding: 0 0.5rem 0.5rem 0.5rem;
    background: #0000009c;
    -webkit-box-shadow: 0px 0px 15px 10px #000000cf;
    -moz-box-shadow: 0px 0px 15px 10px #000000cf;
    box-shadow: 0px 0px 15px 10px #000000b0;
}

.main-nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.2rem;
    background: #db0c0c;
    left: 0;
    bottom: 0;
    transition: all 0.2s ease-in-out;
}

.main-nav a:hover::after {
    width: 100%;
}

.main-nav a:hover {
    color: var(--clr-white);
    transition: all 0.2s ease-in-out;
}

.hero-section .main-text {
    text-align: center;
}

.hero-section .main-text p {
    margin-top: 1rem;
}

.enter-email-container h3 {
    font-size: 2rem;
    font-weight: 400;
}

.enter-email-container label {
    position: absolute;
    left: 0;
}

.enter-email-container {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.email-inp-wrapper {
    flex: 3;
}

.email-inp-wrapper input {
    background: #161616a5;
    padding: 2rem 1.25rem;
    border: 0.1rem solid #858585;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.email-inp-wrapper label {
    position: absolute;
    top: 50%;
    left: 1.25rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: #9d9d9d;
    transition: all 0.2s ease-in-out;
}

.email-inp-wrapper input:focus+label {
    top: 1.2rem;
    font-size: 1.2rem;
}

.hero-section .main-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 5rem;
}

.email-inp-btn-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    gap: 1rem;
}

.get-started-btn-wrapper {
    flex: 1;
}

.get-started-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: #db0c0c;
    border-radius: 0.5rem;
}

.get-started-btn:hover {
    background-color: #ab0000;
}

.main-text p {
    margin-top: 2rem;
    font-size: 2.5rem;
}

.main-img-wrapper {
    flex: 1 50%;
}

#section-n3 .main-img-wrapper {
    flex: 1 60%;
}

.main-text {
    flex: 1 50%;
}

.img-wrapper {
    /*mudar posicionamento de algumas das imagens pra deixar semelhante ao site principal da netflix*/
    display: flex;
    align-items: center;
}

[id*="section-n"] {
    box-shadow: inset 0 -1rem #323232;
}

[id*="section-n"]:not(#section-n6) .inner-content {
    /*mexer nisso daqui e trocar nomes de variaveis se preciso*/
    gap: 5rem;
}

.download-serie-img-container {
    position: relative;
}

.download-serie-animation-container {
    z-index: 1;
    position: absolute;
    border-radius: 1rem;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    background: black;
    border: 0.2rem solid #323232;
    width: 55%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    -webkit-box-shadow: 0px 0px 20px 10px #000000c6;
    -moz-box-shadow: 0px 0px 20px 10px #000000c6;
    box-shadow: 0px 0px 20px 10px #000000c6;
}

.download-serie-text-container {
    display: flex;
    flex-flow: column wrap;
}

.download-serie-text-container span {
    color: rgb(61, 125, 254);
    font-size: 1.4rem;
}

.download-serie-text-container div {
    font-size: 1.6rem;
    font-weight: 500;
}

.stranger-things-text-post-container {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.stranger-things-poster-wrapper {
    width: 5rem;
}

.download-animation-wrapper {
    max-width: 5rem;
}

#section-n6 .inner-content {
    flex-flow: column nowrap;
    gap: 3rem;
}

/* #section-n6 {
    min-height: 120vh;
    min-height: 120svh;
} */

.asked-questions {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    font-size: 2.5rem;
}

.question-btn {
    cursor: pointer;
    background: rgb(45, 45, 45);
    padding: 2.5rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.question-btn .ion-md-remove {
    display: none;
}

.answer {
    display: flex;
    flex-flow: column wrap;
    gap: 2.5rem;
    position: relative;
    background: rgb(55, 55, 55);
    box-shadow: inset 0 0.1rem #464646;
    padding: 0 2rem;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
}

.answer p {
    line-height: initial;
}

.activeQuestion + .answer {
    max-height: 30rem;
    padding: 2.5rem 2rem;
}

.activeQuestion .ion-md-remove {
    display: block;
}

.activeQuestion .ion-md-add {
    display: none;
}