/*
----------------------------------------
Meaning of prefixes:

fs -> font-size
----------------------------------------
*/

:root {
    --clr-black: #000;
    --clr-white: #fff;

    --fs-default-pc: 2rem;
    --fs-default-mob: 2rem;
    --fs-h1: 5.5rem;
    --fs-h2: 5rem;
    --fs-h3: 4.5rem;

    --header-offset: 10rem;
}